{% extends 'base.html' %}

{% block meta %}
    <title>Registrasi Akun - Todolist</title>
{% endblock meta %}

{% block content %}  

<div class = "register">

    {% comment %} <form method="POST" action="">
        {% csrf_token %}

        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-primary text-black" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">
                
                                <div class="mb-md-5 mt-md-4 pb-2">
                    
                                    <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                                    <p class="text-white-50 mb-5">Please enter your username and password!</p>
                    
                                    <div class="form-outline form-white mb-4">
                                        <input type="text" name="username" id="typeUsernameX" class="form-control form-control-lg" />
                                        <label class="form-label" for="typeUsernameX">Username</label>
                                    </div>
                    
                                    <div class="form-outline form-white mb-4">
                                        <input type="password" name="password1" id="typePasswordX" class="form-control form-control-lg" />
                                        <label class="form-label" for="typePasswordX">Password</label>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input type="password" name="password2" id="typePasswordX" class="form-control form-control-lg" />
                                        <label class="form-label" for="typePasswordX">Password confirmation</label>
                                    </div>
                                        
                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>
            

                                </div>

                                <div>
                                    {% if messages %}
                                        
                                        {% for message in messages %}
                                            <ul >
                                                <li class="list-group-item text-red-50 mb-5"  >{{ message }}</li>
                                            </ul>        
                                        {% endfor %}
                                        
                                    {% endif %} 
                                    
                                </div>
                                    
                                <div class="table">
                                    <ul>
                                        <p class="mb-0">
                                        Already have an account? <a href="{% url 'todolist:login' %}" class="text-white-50 fw-bold">Login here</a>
                                        </p>
                                    </ul>
                                </div>
                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form> {% endcomment %}

    <form method="POST" action="">
        {% csrf_token %}
        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5"> <!-- menjadi responsif -->
                        <div class="card bg-primary text-black" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">
                                <div class="mb-md-5 mt-md-4 pb-2">
                                    <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                                    <p class="text-white-50 mb-5">Please enter your login and password!</p>

                                    <div class=" mb-4">
                                        <table>  
                                            {{ form.as_table }}   
                                        </table> 
                                    </div>
                                    <div class="mb-4">
                                        <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>
                                    </div>
                                    <div>
                                        <p class="mb-0">
                                            Already have an account? <a href="{% url 'todolist:login' %}" class="text-white-50 fw-bold">Login here</a>
                                        </p>
                                    </div> 

                                    {% if messages %}  
                                        <ul>   
                                            {% for message in messages %}  
                                                <li>{{ message }}</li>  
                                                {% endfor %}  
                                        </ul>   
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    
    {% comment %} <h1>Formulir Registrasi</h1>  

        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input type="submit" name="submit" value="Daftar"/></td>  
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %} {% endcomment %}

</div>  

{% endblock content %}
<!-- Template terinspirasi dari https://mdbootstrap.com/docs/standard/extended/login/#section-7 -->