{% extends 'base.html' %}

{% block meta %}

<title>Home - Todolist</title>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'todolist.css' %}">
</head>
{% endblock meta %}

{% block content %}




<nav class="navbar bg-primary navbar-expand-sm ">
    <div class="container-fluid">
        <h1 class="navbar-brand"><b>Hello {{nama}}</b></h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" color="green"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'todolist:showtodolist' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'todolist:create_task' %}">Create Task</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'todolist:logout' %}">Logout</a>
                </li> 
            </ul>
        </div>
        
    </div>
</nav>

{% comment %} Tambahkan data di bawah baris ini {% endcomment %}
<div class="p-2 pb-4">
    <div class="container-fluid">
        <div class="row g-3">
            {% for barang in user.user_todolist.all %}
                <div class="col-12 col-sm-6 col-lg-4 col-xxl-3">
                    <div class="card">
                        <div class="card-body border-primary" >
                            <div class="card-header">{{barang.user}}</div>
                            <div class="card-body ">
                                <h3 class="card-title">{{barang.title}}</h3>
                                <h6 class="card-mb-2 text-muted">{{barang.date}}</h6>
                                <p class="card-text">{{barang.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>    
            {% endfor %}
            <div class="col-12 col-sm-6 col-lg-4 col-xxl-3">
                <div class="card text-center " style="height: 12rem;">
                    <a class="card-body border-primary " style="text-decoration:none; font-size: 110px;" href="{% url 'todolist:create_task' %} ">+</a>
                </div>
            </div>
        </div>    
    </div>
</div>
{% endblock content %}
