{% extends 'base.html' %}
<!-- {% include 'todolistbase.html' %} -->

{% block meta %}
<!-- <style>
    /* Modify the background color */
     
    .navbar-expand-sm {
        background-color: rgb(162, 113, 205);
    }
    /* Modify brand and text color */
     
    /* .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: green;
    } */
</style> -->
<title>Home - Todolist</title>
{% endblock meta %}

{% block content %}
<nav class="navbar bg-primary navbar-expand-sm ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><b>Hello {{nama}}</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" color="green"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'todolist:showtodolist' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'todolist:create_task' %}">Create Task</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'todolist:logout' %}">Logout</a>
                </li> 
            </ul>
        </div>
        
    </div>
</nav>

{% comment %} Tambahkan data di bawah baris ini {% endcomment %}
<div class="pt-2">
    <div class="container-fluid">
        <div class="row g-3">
        {% for barang in user.user_todolist.all %}
            <div class="col-12 col-sm-6 col-lg-4 col-xxl-3">
                <div class="card">
                    <div class="card-body border-primary" >
                        <div class="card-header">{{barang.user}}</div>
                        <div class="card-body ">
                            <h3 class="card-title">{{barang.title}}</h3>
                            <h6 class="card-mb-2 text-muted">{{barang.date}}</h6>
                            <p class="card-text">{{barang.description}}</p>
                        </div>
                    </div>
                </div>
            </div>    
        {% endfor %}
        </div>    
    </div>
</div>
{% endblock content %}
