<!DOCTYPE html>


<table>
    <tr>
    <th>User</th>
    <th>Date</th>
    <th>Title</th>
    <th>Description</th>
    </tr>

    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in user.user_todolist.all %}
    <tr>
        <th>{{barang.user}}</th>
        <th>{{barang.date}}</th>
        <th>{{barang.title}}</th>
        <th>{{barang.description}}</th>
    </tr>
    {% endfor %}
</table>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>
<button><a href="{% url 'todolist:create_task' %}">Create Task</a></button>


